.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.menu {
  width: 20%;
  background-color: #eee;
}

.map {
  flex: 1;
  position: relative;
}

.menu {
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em;
  max-width: 1328px;
  color: black;
}

.launchItem {
  display: flex;
}