.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: calc(100vh - 100px);
}

.menu {
  width: 20%;
  background-color: #eee;
}

.map {
  flex: 1;
  position: relative;
}

.menu {
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em;
  max-width: 1328px;
  color: black;
}

.launchItem {
  display: flex;
  padding: 0.5em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  color: black;
  border-color: black;
  border-width: 0.8px;
  border-radius: 7px;
  border-style: solid;
}

.launchItem:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.launchName {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.launchAlt {
  font-style: italic;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.launchDate {
  font-style: italic;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}